.comments_wrapper {
	padding: 1rem 4rem;

	@media screen and (max-width: $breakpoint_sm) {
		padding: 1rem 2rem;
	}

	.go_login_wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 3rem;

		> span {
			display: inline-flex;
			align-items: center;
			margin-bottom: 4rem;

			> strong {
				margin-left: 1rem;
				font-size: 1.5rem;
			}
		}
	}

	.add_review_wrapper {
		textarea {
			height: 10rem;
		}

		.footer {
			display: flex;
			flex-direction: row-reverse;
			padding: 1rem 0;
		}
	}
}
