@import 'common';

.article_info {
	width: 100%;
	border-radius: inherit;
	background: $background;

	@include with_title;
	@include with_close;

	.pic_wrapper {
		z-index: 1;
		width: 16rem;
		height: 10rem;
		border-radius: 0.4rem;
		cursor: pointer;

		.pic_cover {
			position: absolute;
			width: 16rem;
			height: 10rem;
			border-radius: inherit;
			color: #fff;

			@include flex_center;

			@media (any-hover: hover) {
				&:hover {
					backdrop-filter: blur(24px);
				}
			}
		}

		.title_pic {
			width: 100%;
			height: 100%;
			border-radius: inherit;
			vertical-align: text-top;

			object-fit: cover;
		}
	}

	.center_wrapper {
		display: flex;
		justify-content: center;

		input[type="file"] {
			display: none;
		}
	}
}
