.article_list {
    min-height: calc(100% - 6rem);
    width: 100%;
    
    .skeleton_list {
		overflow: hidden;
		height: calc(100vh - 12rem);

		@media screen and (max-width: $breakpoint_sm) {
			height: calc(100vh - 10rem);
		}

		.skeleton_wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2rem;
			height: 16rem;
			border-bottom: 1px solid $divider_variant;

			&:last-child {
				border-bottom: 0;
			}

			.left_wrapper {
				display: flex;
				align-items: baseline;
				flex-direction: column;
				justify-content: space-between;
				width: calc(100% - 14rem);
				height: 100%;

				.title_skeleton {
					width: 77%;
					height: 2rem;
				}

				.text_skeleton {
					height: 1.6rem;

					&:first-child {
						width: 33%;
					}
					&:last-child {
						width: 11%;
					}
				}
			}

			.img_skeleton {
				width: 10rem;
				height: 7rem;
				border-radius: 0.4rem;
			}
		}
	}
    
    a:last-child .article_item {
		border-bottom: 0;
	}

    .article_item {
        padding: 0 1.6rem;
        width: 100%;
        border-bottom: 1px solid $divider_variant;
        border-radius: 0;

        .inner {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
            min-height: 12rem;
            width: 100%;

            .left_wrapper {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                width: calc(100% - 12rem);

				@include use_themes('.heading') {
                    margin: 1.5rem 0;
					font-weight: 600;
					font-size: 1.7rem;
					transition: color $normal;
                    @media (any-hover: hover) {
						&:hover {
							color: $highlight;
						}
					}
                }

				> div:first-child {
					> span {
                        overflow: hidden;
						margin-right: 1rem;
						color: $text_secondary;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 1.2rem;
						@media (any-hover: hover) {
							&:first-child:hover {
								text-decoration: underline !important;
							}
						}
					}
                }

                > span:last-child {
					display: inline-block;
					word-break: break-all;
					font-size: 1.4rem;
					line-height: 1.4;
				}
            }

            > img {
                width: 10rem;
                height: 7rem;
                border-radius: 0.4rem;
                vertical-align: text-top;
                object-fit: cover;
            }
        }
    }
}
