.right_sider {
    position: absolute;
    top: 7rem;
    right: calc(50% - 55rem);
    display: block;
    width: 24rem;
    height: calc(100% - 7rem);
    transition: right $normal;

    &.narrowing {
        right: calc(50% - 67rem);
    }

    section {
        margin-bottom: 2rem;
    }
}
