.user_avatar {
	position: relative;
	margin-right: 1rem;
	margin-left: 1rem;
	min-height: 0;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	transition: border $normal;
}

.user_profile {
	position: absolute;
	top: 5rem !important;
	right: 2rem;
	padding: 0 !important;
	min-height: 0;
	width: 32rem;
	border-radius: 0.4rem;
	box-shadow: $middle_shadow;

	@media screen and (max-width: $breakpoint_sm) {
		right: 1rem;
		width: calc(100vw - 4rem);
	}

	.large_avatar {
		> img {
			width: 8rem;
			height: 8rem;
			border-radius: 50%;
			vertical-align: text-top;

			object-fit: cover;
		}
	}

	> h3 {
		margin-bottom: 0.5rem;
	}

	@include use_themes('.nickname') {
		color: $highlight;
	}

	> span {
		color: $text_secondary;
	}

	.divider {
		margin: 1.6rem 0;
	}
	
	:global .ant-popover-content {
		width: 100%;
		text-align: center;
	}
}
