@import "options.scss";
@import "banner.scss";
@import "account";
.setting_page {
	padding-top: 6rem !important;
	background: $background_variant;

	> div:first-child {
		padding: 1rem;
		width: 64rem;
		border-radius: 0.4rem;
	}
}